body{
    background-color: #0d0c0e;
    color:white;
    font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
}

nav{
    background-color: rgb(24 24 27);
    box-shadow: 0 10px 20px -10px rgb(128, 128, 128);

  
}

.logs{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
   
}

.norm{
    display: flex;
}



:link{
     text-decoration: none;
     font-size: larger;
}
.links:active{
    color:#9344fb;
}
.links:visited{
    color: #c6bdd0;
}

.streamer-pics{
    border-radius: 25%;
}

.streamers-Playlists{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: space-around;
    

}

.block{
    background-color: rgb(21 21 22 / 61%);
    color: rgb(252, 252, 252);
    border-radius: 10%;
    font-size: 5px;
    max-width: max-content;
    margin-top: 5px;
    box-shadow: 0 10px 20px -10px rgba(0,0,1,1);
  transition: all .4s ease;
  cursor:pointer;
  overflow: hidden;
}

.block:hover{
    font-size: 6px;
transform: scale(0.9);
box-shadow: 0px 15px 25px -5px rgba(0,0,0,1);
}


.home-container{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    max-width: fit-content;
    
}
.emotes{
    max-width: 25%;  
}

 .home-button  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5px;
 }
 
 btn1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5px;
 }

.start, button{   
 border: none;
 outline: none;
 border-radius: 25px;
 height:44px;
 width: 298px;
 background-color: #914ceb;
 box-shadow: -1px -1px 3px ;
}
.start:hover{
    box-shadow: -3px -3px 7px ;
}

.start:active{
    box-shadow: inset 6px 6px 6px rgb(206, 183, 231), inset -6px -6px 6px rgb(206, 183, 231); ;

}
.email{
    background-color: rgb(73, 71, 71);
    color: white;
}
.Box{
    background-color: rgb(73, 71, 71);
   height: 400px;
   width: 350px;
   color: white;
   
}




.streamer{
    display: flex;
    width:fit-content;
}
.streamer-details{
    max-width: fit-content;
 
}
.emotes2{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.emotes2a{
    max-height: 5%;
    max-width: 5%;
}

.home-button{
    display: block;
}


.fake{
    background-color: rgb(34, 34, 34);
    font-size: 10px;
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 10px 20px -10px rgb(128, 128, 128);
    color: white;
}

.your-streams{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-around;
    row-gap: 5px;
    background-color: rgb(128 128 128 / 30%);
}

.remove{
    max-width: fit-content;
}
